.button{
    display: block;
    padding: 24px 32px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    background-color: #6278F7;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
    margin-bottom: 18px;
    cursor: pointer;
}

.button:hover{
    font-family: "Montserrat", sans-serif;
    color: aquamarine;
}